h1{
    background-color: aquamarine;
    color: black;
}
input{
    padding: 10px ;
}


.box{
    width: 100px;
    height: 100px;
}
.box{
    border: 1px solid red;
    border-radius: 10px;
  
}
.box1{
    margin-top: 50px;
    border: 2px double red;
    width: 100px;
    height: 100px;
}