<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="flex.css">
</head>
<body>
<header>
        <h2>Achievers IT</h2>
        <nav>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Blog</a>
            <a href="#">Contact</a>
    </header>
    <section class="hero">
        <div>
    
        <h1>Hello Achievers IT</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptate
           eius labore porro quis recusandae voluptates, quibusdam explicabo,
           delectus veniam beatae sapiente nihil dignissimos nobis rerum!
        </p>
        <button>Subscribe My NewsLetter</button>
        </div>
        <div class="image">
    
        <img src="../../assets/boy.jpeg">
        </div>
</section><br>

    <div class="matter">
        <fieldset>
       
            <h2> 1 Static website</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad minima explicabo perspiciatis atque<br>
               nesciunt officiis suscipit consectetur. Officia a dicta sint porro rem vero, ipsum, commodi<br>
               accusamus tempora animi eos magni ipsa non natus unde hic dolorum veritatis architecto nostrum.</p>
        </fieldset><br>
        <fieldset>
            
            <h2>2 Dynamic website</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad minima explicabo perspiciatis atque<br>
               nesciunt officiis suscipit consectetur. Officia a dicta sint porro rem vero, ipsum, commodi<br>
                accusamus tempora animi eos magni ipsa non natus unde hic dolorum veritatis architecto nostrum.</p>
        </fieldset><br>
    
    </div>
    <div>
     <div class="container1">
     <div class="card1">
    <img src="../../../assets/man.jpeg" class="images">
    <div class="card1-matter blue"><br>
     <br> 
      <h2>Amit Kumar</h2>
      <p>Founder of TechBuzz</p>
      <p>
        Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Cum, sequi molestias vitae
        optio voluptates quis.
      </p>
    </div>
  </div>
  <div class="card1">
    <img src="../../../assets/women.jpeg" class="images">

    <div class="card1-matter yellow"><br>
        <br>
      <h2>Shreya</h2>
      <p>Founder of yourStory</p>
      <p>
        Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Cum, sequi molestias vitae
        optio voluptates quis.
      </p>
    </div>
  </div>

</div>
                
        
    </div><br>
    <div class ="details">

        <fieldset>
    
            <h2>Lets discuss your project!</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est quasi dicta aperiam eos eveniet!</p>
            <label></label>
            <input type="text" placeholder="Enter your name">
            <label></label>
            <input type="email" placeholder="Enter your Email">
            <label></label><br>
            <br>
           
            <textarea placeholder="Please share your details"></textarea>
            <br>
            <button class="btn1">Lets meet live</button>
        </fieldset>
           
    </div>
</body>
</html>
